<table class="table table-striped">
    <thead>
    <tr>
        @for (column of columns(); track column) {
            <th scope="col">
                {{column.label}}
            </th>
        }
    </tr>
    </thead>
    <tbody>
        @for (row of rows(); track row) {
            <tr>
                @for (column of columns(); track column) {
                    <td>
                        {{row[column.attribute]}}
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
