.app-container {
    position: relative;
    max-width: $container-max-width;
    padding: $container-padding;
    margin-inline: auto;

    .app-container-buttons {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $container-buttons-padding;
        gap: $container-buttons-gap;
    }
}
