<app-page-title>
    {{'new-participant.title' | translate}}
</app-page-title>

<app-card>
    <form [formGroup]="formGroup">
        <div class="mb-3">
            <label for="newParticipantFirstName" class="form-label">
                {{'participant.firstName' | translate}}
            </label>
            <input formControlName="firstName" class="form-control" id="newParticipantFirstName">
        </div>

        <div class="mb-3">
            <label for="newParticipantLastName" class="form-label">
                {{'participant.lastName' | translate}}
            </label>
            <input formControlName="lastName" class="form-control" id="newParticipantLastName">
        </div>
    </form>
</app-card>

<div class="row g-1 justify-content-end">
    <div class="col-auto">
        <app-button variant="danger" [routerLink]="'/participants'">
            <app-icon icon="x-lg"></app-icon>
        </app-button>
    </div>
    <div class="col-auto">
        <app-button variant="success" (click)="addParticipant()">
            <app-icon icon="check-lg"></app-icon>
        </app-button>
    </div>
</div>
